.git
.env
vendor
node_modules
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
lokals-backend/.env
lokals-backend/vendor
lokals-backend/node_modules
lokals-backend/storage/logs
lokals-backend/storage/framework/cache
lokals-backend/storage/framework/sessions
lokals-backend/storage/framework/views
lokals-web/node_modules
lokals-web/dist
lokals-mobile/build
